@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

:root {
    --background-color: #F6F6F8;
    --text-color: #595959;
    --border-color: #EDEDF0;
    --highlight-color: #E5F1FF;
    --highlight-text-color: #3A8FFF;
}

* {
    box-sizing: border-box;
    /* line-height: 1.25rem; */
    margin: 0;
    padding: 0;
    border: none;
    color: var(--text-color)
}

.page {
    display: flex;
    justify-content: left;
}

.menu {
    padding-top: 0.6rem;
    background-color: var(--background-color);
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0 2px 0 0;
}

.menu-item {
    display: flex;
    padding: 0.3rem;
    color: var(--text-color);
    min-height: 5rem;
    justify-content: center;
    align-items: center;
}

.menu-item:hover {
    background-color: var(--highlight-color);
    color: var(--highlight-text-color);
    cursor: pointer;

    border-color: var(--border-color);
    border-style: solid;
    border-width: 2px 0 2px 0;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    color: white;
    width: 100%;
    height: 100vh;
}

.module {
    background-color: var(--background-color);
    border-radius: 0.5rem;
    margin: 1rem 0rem 0rem 1rem;
    border-color: var(--border-color);
    border-style: solid;
    border-width: 2px;

    box-shadow: 5px 5px 5px #F0F5EB;
    padding: 1rem;
}

.module:hover {
    border-color: var(--highlight-color);
}

p {
    padding: 1rem;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

