
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

:root {
    --background-color: #F6F6F8;
    --text-color: #595959;
    --border-color: #EDEDF0;
    --highlight-color: #E5F1FF;
    --highlight-text-color: #3A8FFF;
}

* {
    box-sizing: border-box;
    /* line-height: 1.25rem; */
    margin: 0;
    padding: 0;
    border: none;
}

html, body, #root, .App {
    height: 100%;
}

.App {
    display: flex;
    justify-content: left;
    flex-direction: column;
    color: var(--text-color);
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    background-color: var(--background-color);
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0 2px 0 0;
}

.menu-item {
    flex-grow: 1;
    display: flex;
    padding: 0.3rem;
    color: var(--text-color);
    min-height: 5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: capitalize;
}

.menu-item.active {
    color: var(--text-color);
    background-color: var(--highlight-color);
    text-decoration: underline;
}

.menu-item:hover {
    background-color: var(--highlight-color);
    color: var(--highlight-text-color);
    cursor: pointer;

    border-color: var(--border-color);
    border-style: solid;
    border-width: 2px 0 2px 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.modules {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #FFFFFF;
    color: white;
    width: 100%;
}

.module {
    margin: 0.5rem;
    color: var(--text-color);
    background-color: var(--background-color);
    border-radius: 0.5rem;
    border-color: var(--border-color);
    border-style: solid;
    border-width: 2px;

    box-shadow: 5px 5px 5px #F0F5EB;
}

.module:hover {
    border-color: var(--highlight-color);
}

.fill {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

p {
    padding: 1rem;
}

@media only screen and (min-width: 950px) {
    .App {
        flex-direction: row;
    }

    .menu {
        flex-direction: column;
        justify-content: flex-start;
    }

    .menu-item {
        flex-grow: 0;
    }

    .modules {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: stretch;
    }

    .fill {
        flex-direction: row;
    }
}

